$bgColor : #bada55;


body {
  // background-color: $bgColor;
  background-image: 
    linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
    url('/img/background.jpg');
  // background-size: cover;
}
.mainViewSection {
  //  margin-top: 100px;
  width: 100%;
  color: white;
  border: 2px solid deeppink;
  .mainViewTitle {
    text-align: center;
  }
}


.primarySpaceContainer {
  display: flex;
  flex-direction: row;
  border: 1px solid green;
  border-radius: 5px;
  .spacesSideBar {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  // text-align: center;
  width: 270px;
  // height: 350px;
  font-size: 25px;
    .addSpaceBtn {
      margin-top: 1vw;
      width: 200px;
      margin: auto;
    }
  }
}

// .spaceCardContainer {
    // display: flex;
    // flex-direction: column;
    /*justify-content: space-around;*/
    // font-size: 10px;
    // .spaceSideBarTitle {
    //   font-size: 10px;
    // }
    
    // }

.listContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 3px solid yellow;
    width: 270px;
    height: 350px;
      .spaceCard {
          display: flex;
          justify-content: center;
          align-items: center;
          // align-content: center;
          width: 200px;
          // margin: auto;
          margin-top: 1vw;
          .spaceCardName {
            margin-right: 1vw;
          }
      }
  }


.storesPrimaryContainer {

  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid pink;
  width: 800px;
    .storeContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border: 2px solid blue;
    border-radius: 5px;
    width: 300px;
    height: 300px;
    .store {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;
      border: 1px solid darkcyan;
      border-radius: 5px;
      width: 100px;
      height: 100px;
      background-image: url("/img/storageRoom.jpg");
      background-size: 100px 100px;
    
      .storeDiagramCardName {
        color: white;
        background-color: darkgreen;
        border: 1px solid seagreen;
        border-top-left-radius: 5px;
      }
    }
    .item {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;
      border: 1px solid darkcyan;
      border-radius: 5px;
      width: 100px;
      height: 100px;
      background-image: url("/img/item.png");
      background-size: 100px 100px;
    }
  }
}

.searchContainer {
  border: 5px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  .searchBar{
    margin-right: 0.5vw;
    height: 30px;
  }
  .searchBtn {
    height: 35px;
  }
}