$bgColor : #bada55;


body {
  // background-color: $bgColor;
  background-image: 
    linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url('/img/background.jpg');
  background-repeat: round;
  // background-size: auto 100%;
}

.mainViewSection {
  // margin-top: 100px;
  // width: 100%;
  color: white;
  // border: 2px solid deeppink;
  .mainViewTitle {
    text-align: center;
  }
}


.primarySpaceContainer {
  display: flex;
  flex-direction: row;
  // border: 1px solid green;
  border-radius: 5px;
  .spacesSideBar {
  border: 1px solid #333333;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  // text-align: center;
  width: 270px;
  // height: 350px;
  font-size: 25px;

  background: rgba(60, 60, 60, 0.9);
  border-radius: 5px;
    .addSpaceBtn {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 5px;
      margin-bottom: 10px;
      width: 200px;
      .addSpacePlusIcon {
        display: flex;
        align-self: flex-end;
        margin-right: 5px;
        
      }
    }
  }
}

// .spaceCardContainer {
    // display: flex;
    // flex-direction: column;
    /*justify-content: space-around;*/
    // font-size: 10px;
    
    
    // }
.spaceSideBarTitle {
  margin-top: 15px;
  text-align: center;
}
.listContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    // border: 3px solid yellow;
    width: 270px;
    height: 300px;
      .spaceCard {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 200px;
          margin-top: 1vw;
          .spaceCardName {
            margin-right: 1vw;
          }
          .spaceCardIcon {
            padding: 0;
          }
      }
  }


.storesPrimaryContainer {

  display: flex;
  justify-content: center;
  align-items: center;
  // border: 1px solid pink;
  width: 800px;
    .storeContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    // background: rgb(60, 60, 60);
    background: rgba(60, 60, 60, 0.9);
    
    border: 1px solid #333333;
    border-radius: 5px;
    width: 300px;
    height: 300px;
    .store {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;
      border: 1px solid #808080;
      border-radius: 8px;
      width: 100px;
      height: 100px;
      background-image: url("/img/storageRoom.jpg");
      background-size: 100px 100px;
    
      .storeDiagramCardName {
        color: white;
        background-color: #808080;
        border: 1px solid #333333;
        border-top-left-radius: 5px;
        border-bottom-right-radius: 8px;
        padding: 0 3 0 3;
      }
    }
    .item {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;
      border: 1px solid darkcyan;
      border-radius: 5px;
      width: 100px;
      height: 100px;
      background-image: url("/img/item.png");
      background-size: 100px 100px;
    }
  }
}

.searchContainer {
  // border: 5px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  color: black;
  .searchBar{
    margin-right: 0.5vw;
    height: 30px;
  }
  .searchBtn {
    height: 35px;
  }
}